body{
	background-color: lightgreen;
	background-image: url(../imgs/background/background.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: center 0;
	background-attachment: fixed;
	font-family: 'Chewy', cursive;
  }
  
#ir{
	position: absolute;
	right: 15px;
}
#ir:hover{
	cursor: pointer;
}

h1{
	position: relative;
	margin: 0px;
	color: #f14e22;
	text-shadow: 3px 3px 1px black;
}
#root{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.esquema{
	width: 80%;
	text-align: center;
}
.setaDiv{
	width: 10%;
	text-align: center;
	cursor: pointer;
  position: relative;
}
.setaImg{
	width: 60%;
  margin: 0;
	position: absolute;
	left: 20%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#hist{
	padding: 1%;
	width: 70%;
	margin: auto;
	border: 5px solid black;
	background-color: rgba(34, 177, 80, 0.85);
}