 #divGrade{
  display: grid;
  grid-template-columns: repeat(6,200px);
  grid-template-rows: repeat(4,200px);
  grid-gap: 30px;
}

.elemento{
  background-color: green;
  border: 1px solid black;
  border-radius: 15%;
}
